@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

p {
  font-size: 1.2rem;
}

.container {
  width: 100%;
  max-width: 1216px !important;
  padding: 1rem;

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.roundedcustom {
  border-radius: 2.125rem;
}

.header {
  z-index: 999;
}

/* styles/globals.css */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 600px) {
  .vhead {
    font-size: 2rem !important;
  }

  .about {
    font-size: 20px !important;
    line-height: 2.3rem !important;
  }

  p {
    font-size: 0.8rem !important;
  }

  .glassfrog {
    font-size: 55px !important;
    display: block;
    white-space: nowrap;
    color: #ffffff;
    font-weight: 700;
  }

  .we {
    font-size: 72px !important;
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    font-weight: 900;
  }
}

.vhead {
  font-size: 4rem;
}



.owhead {
  font-size: 3rem;
}

.marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

.servicebutton {
  font-weight: 800;
  font-size: 16px;
  color: #f4f4f4;
  padding: 12px 37px;
  border: 2px solid #f4f4f4;
  border-radius: 32px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s;
  margin-top: 20px;
}

.servicebutton1 {
  font-weight: 800;
  font-size: 16px;
  background-color: #ed2998;
  color: #f4f4f4;
  padding: 12px 37px;
  border-radius: 32px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s;
  margin-top: 20px;
}

.servicebutton:hover {
  background-color: #ffffff;
  color: #151515;
}

.swiper {
  width: 100%;
  height: 100%;
}

.myswiper {
  background-color: #151515;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  /* height: 30rem; */
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #fff !important;
}

.swiper-pagination-bullet {

  background: #a1a1aa !important;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.ourwork {
  height: auto;
  width: auto;
}

.bg-muted-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.swiper-button-prev {
  height: 4rem !important;
  width: 4rem !important;
  background: white !important;
  border-radius: 50% !important;
  color: black !important;
}

.swiper-button-next {
  height: 4rem !important;
  width: 4rem !important;
  background: white !important;
  border-radius: 50% !important;
  color: black !important;
}

.swiper-button-prev:after {
  font-size: 20px !important;
}

.swiper-button-next:after {
  font-size: 20px !important;
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
  height: 100%;
}

.transition-opacity {
  transition: opacity 0.3s;
}

.bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.about {
  font-size: 40px;
  line-height: 4rem;
}

.alogo {
  height: 6rem;
  width: 15rem;
}

.slider {
  height: 60px;
  position: relative;
  width: 100%;

  display: grid;
  place-items: center;
  overflow: hidden;
  box-shadow: 0px 0 70px 93px rgb(2 6 23);

}

.slider::before,
.slider::after {
  position: absolute;
  /* background-image: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); */
  content: '';
  height: 100%;
  width: 25%;
  z-index: 2;
  pointer-events: none;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

/*  IMPORTANT CODE BELOW */

.slide-track {
  width: calc(150px * 20);
  display: flex;
  animation: scroll 20s linear infinite;
  justify-content: space-between;
}

.slide-track2 {
  width: calc(150px * 15);
  display: flex;
  animation: scroll2 15s linear infinite;
  justify-content: space-between;
}

.slide {
  width: 150px;
  height: 60px;

  display: grid;
  place-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.slide:hover {
  transform: scale(0.8)
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(calc(-150px * 10));
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(calc(-150px * 5));
  }
}

@media screen and (max-width: 768px) {
  .slide-track {
    width: calc(80px * 20);
  }

  .slide-track2 {
    width: calc(80px * 15);
  }

  .slide {
    width: 80px;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(calc(-80px * 10));
    }
  }

  @keyframes scroll2 {
    0% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(calc(-80px * 5));
    }
  }
}

.letsgo {
  font-size: 75px;
  -webkit-text-stroke: 2px #fff;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  font-weight: 900;
}
.letsgos {
  -webkit-text-stroke: 2px #020617;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  font-weight: 900;
}

.we {

  font-size: 115px;
  -webkit-text-stroke: 2px #fff;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  font-weight: 900;

}

.ready {
  font-size: 45px;
  display: block;
  white-space: nowrap;
  color: #ffffff;
  font-weight: 700;
}

.glassfrog {
  font-size: 90px;
  display: block;
  white-space: nowrap;
  color: #ffffff;
  font-weight: 700;
}

.enquire {
  font-weight: 400;
  font-size: 16px;
  color: #f4f4f4;
  padding: 5px 15px;
  border: 2px solid #f4f4f4;
  border-radius: 32px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s;
  margin-top: 20px;
}
.audit {
  font-weight: 400;
  font-size: 16px;
  color: #f4f4f4;
  padding: 5px 15px;
  background-color: #ed2998;
  border: 2px solid #ed2998;
  border-radius: 32px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s;
  margin-top: 20px;
}

.enquire:hover {
  background-color: #ed2998;
  color: #ffffff;
    border: 2px solid #ed2998;
}
.lines{
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.serli{
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
  color: #ffffff;
}

.serli:hover {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
  color: #ed2998;
}
.sa{
  color: white;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5.4rem;
}
.shead{
  font-size: 3rem;
}
.card {
  position: relative;
  width: 400px;
  height: 250px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.serli a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
      font-size: 1.4rem;
}

.serli a svg {
  margin-left: 0.5rem;
  transition: transform 0.3s ease-in-out;
      font-size: 1.4rem;
}

.serli a:hover svg {
  transform: translateX(0.50rem);
}

.serli:hover a {
  color: #ed2998;
}
.group-hover\\:translate-x-2:hover {
  transform: translateX(0.5rem);
  /* Adjust the value as needed */
}
.cardimg{
height: -webkit-fill-available;
  width: -webkit-fill-available;}