@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.container {
  width: 100%;
  max-width: 1216px !important;

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.roundedcustom {
  border-radius: 2.125rem;
}

.header {
  z-index: 999;
}

/* styles/globals.css */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.vhead {
  font-size: 5rem;
}

.marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

.servicebutton {
  background-color: #ffffff;
  font-size: 1.3rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.myswiper {
  background-color: #151515;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 35rem;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.ourwork {
  height: auto;
  width: auto;
}

.bg-muted-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}

.swiper-button-prev {
  height: 4rem !important;
  width: 4rem !important;
  background: white !important;
  border-radius: 50% !important;
  color: black !important;
}

.swiper-button-next {
  height: 4rem !important;
  width: 4rem !important;
  background: white !important;
  border-radius: 50% !important;
  color: black !important;
}

.swiper-button-prev:after {
  font-size: 20px !important;
}

.swiper-button-next:after {
  font-size: 20px !important;
}